# Virtual Environment
venv/
env/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model files (optional, bisa diupload atau tidak)
# model/*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db