# Core Data Processing
pandas==2.2.2
numpy==1.26.4

# Visualization (Penting buat jalanin notebook EDA)
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning & Prediction (Wajib ada buat model XGBoost)
scikit-learn==1.4.2
xgboost==2.0.3
imbalanced-learn==0.12.3

# Model Saving & Loading (Buat script prediction.py load model)
joblib==1.4.2

# Environment (Biar notebook bisa dibuka di VS Code)
ipykernel==6.29.4